.logo, .logo_footer, .tube_mini, .tube, .medal{
  background: url('../images/sprites.png') no-repeat;
}

.logo{
  background-position: 0 0;
  width: 249px;
  height: 48px;
}

.logo_footer{
  background-position: -320px 0;
  width: 320px;
  height: 62px;
}

.tube_mini{
  background-position: 0 -51px ;
  width: 260px;
  height: 372px;
}

.tube{
  background-position: -270px -67px ;
  width: 365px;
  height: 372px;
}

.medal{
  background-position: -650px 0;
  width: 61px;
  height: 91px;
}

