//==================== section
[class*="section-"] {
  position: relative;
  z-index: 1;
}

//==================== section heading
.section-heading {
  background: url('../images/heading-bg.jpg') no-repeat 50% 50% transparent;
  padding: 50px 0 0px;
  position: relative;
  overflow: hidden;

  h1 {
    margin-bottom: 0px;
  }
}

.bg-video-holder {
  width: 2000px;
  height: 100%;
  background: url('../images/heading-bg.jpg') no-repeat 50% 0 $font-color;
  background-size: 2000px auto !important;
  margin-left: -1000px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;

  video {
    visibility: hidden;
    position: relative;
    z-index: 10;
  }
}

.video-overlay {
  @include abs-center;
  background: transparentize(#000, .5);
  z-index: 15;
}

//==================== section x
.section-x {
  background: url('../images/') no-repeat 50% 50% transparent;
  padding: 0px 0 0px;

  h2 {
    margin-bottom: 0px;
  }
}

//==================== section map
.map-holder {
  height: 0px;
}

body{
  font-family: 'PF Square Sans Cond Pro';
}

//==================== sub_header

.section-sub_header{
  padding-top: 68px;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  height: 740px;

  @include mobile{
    background: url('../images/header-fon_mobile.jpg') no-repeat !important;
    background-size: cover !important;
    padding-top: 68px;
    padding-bottom: 30px;
    height: auto;
  }

  .block_warning{
    width: 660px;
    height: 143px;
    color: #626365;
    display: block;
    line-height: 48px;
    opacity: 0.7;
    font-family: 'pf_din_text_comp_proXTh';
    font-size: 46px;
    position: absolute;
    right: -220px;
    top: 300px;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);

    @include small-desktop{
      display: none;
    }
  }

  .block_title{
    width: 455px;
    display: block;
      
      @include mobile{
          max-width: 440px;
      }

    .small_text_h1{
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.9px;
      margin-bottom: 22px;
    }

    h1{
      font-family: "PF Square Sans Cond Pro";
      color: #626365;
      font-size: 100px;
      font-weight: 400;
      line-height: 90px;
      text-transform: uppercase;
      margin-top: 3px;
      span{
        font-family: "PF Square Sans Cond Pro";
        color: #94bee6;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 90px;
        font-size: 100px;
        display: block;

        @include small-mobile{
          font-size: 90px;
        }
      }

      @include small-mobile{
        font-size: 90px;
      }
    }
  }

  .sub_header_img{
    margin-left: 80px;

    @include mobile{
      display: none;
    }
  }

  h2{
    font-family: "PF Square Sans Pro";
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #626365;
    margin-top: -24px;
    margin-bottom: 33px;

    @include mobile{
      margin-top: 54px;
    }


    span{
      font-weight: 500;
    }
  }

  .h2_subtext-big{
    width: 890px;
    display: flex;
    justify-content: space-between;

    @include mobile{
      display: block;
      width: 100%;
    }
  }
  .h2_subtext{
    color: #626365;
    font-family: "PF Square Sans Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    width: 180px;
    display: inline-block;
    position: relative;
    margin-left: 67px;
    margin-bottom: 106px;

    @include mobile{
      margin-bottom: 45px;
    }

    svg{
      width: 50px;
      height: 50px;
      display: inline-block;
      position: absolute;
      top: -5px;
      left: -76px;

      @include small-mobile{
        left: -66px;
      }

      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FFF200;
      }
      .st1{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#94BEE6;
      }
    }
  }


  .h2_subtext-mobile{
    display: none;

    @include mobile{
      display: block;
    }
  }

  .h2_subtext-desktop{

    @include mobile{
      display: none;
    }
  }

  .line{
    width: 100%;
    height: 1px;
    background-color: #cbcdd1;
    margin-bottom: 32px;
  }

  .header_small_text{
    width: 673px;
    height: 41px;
    opacity: 0.7;
    color: #626365;
    font-family: "PF Square Sans Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    @include mobile{
      width: 520px;
     height: 75px;
      margin: 0 auto;
      text-align: center;
      display: block;
    }
  }

}

//==================== warting-mobile
.section-warting-mobile{
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: #fff;
  display: none;

  @include small-desktop{
    display: block;
  }

  .block_warning-mobile{
    display: none;

    @include small-desktop{
      width: 100%;
      color: #626365;
      display: block;
      line-height: 48px;
      font-family: 'pf_din_text_comp_proXTh';
      font-size: 46px;
      font-weight: 400;
      margin: 0 auto;
      text-align: center;
    }
  }
}
//==================== section-third
.section-third{
  background: url('../images/fon_block2.jpg');
  text-align: center;
  padding-top: 77px;
  padding-bottom: 83px;
  height: 320px;


  @include mobile{
    text-align: center;
    padding-top: 77px;
    padding-bottom: 83px;
    height: auto;
  }

  .margin-under{
    margin-top: -15px;
  }

  .margin-under-2{
    margin-top: -25px;
  }

  .third_text{
    color: #ffffff;
    font-family: "PF Square Sans Pro";
    font-size: 36px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    display: block;

    @include mobile{
      margin-bottom: 43px;
    }

    span{
      color: #ffffff;
      font-family: "PF Square Sans Pro";
      font-size: 22px;
      font-weight: 400;
      line-height: 24px;
      display: block;
      text-transform: none;
      margin-top: 13px;
    }
  }

  .fast-svg{
    width: 81px;
    height: 110px;

    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#FFF200;
    }
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#FFFFFF;
    }
  }

  .effective-svg{
    width: 98px;
    height: 133px;

    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#FFF200;}
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#FFFFFF;}
  }

  .security-svg{
    width: 66px;
    height: 105px;
    margin-bottom: 5px;
    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#FFF200;}
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#FFFFFF;}
  }
}


//==================== section-substance
.section-substance{
  background: url('../images/fon_block3.jpg') no-repeat;
  background-size: cover;
  padding-top: 93px;
  padding-bottom: 96px;
  height: 847px;

  @include mobile{
    background: url('../images/fon_block3-mobile.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 84px;
    padding-bottom: 57px;
    height: auto;
  }

  .image-tube{
    @include mobile{
      display: none;
    }
  }
  h2{
    text-align: center;
    color: #626365;
    font-family: 'PF Square Sans Cond Pro';
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 115px;

    @include mobile{
      margin-bottom: 503px;
    }

    span{
      color: #94bee6;
      font-weight: 700;
    }
  }

  .substance_text{
    color: #626365;
    font-family: "PF Square Sans Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    width: 285px;
    display: block;
    position: relative;
    margin-bottom: 50px;
    padding-left: 63px;

    @include mobile{
      width: 330px;
      margin: 0 auto 50px;
      font-size: 30px;
      line-height: 30px;
      font-weight: 500;
      padding-left: 50px;

    }

    span{
      color: #94bee6;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;

      @include mobile{
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  svg{
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0;

    @include mobile{
      left: -39px;
    }
  }

  .top-under{
    top: -15px;
  }
  .substance_block1{
    width: 61px;
    height: 69px;

    @include mobile{
      width: 77px;
      height: 89px;
    }

    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#94BEE6;
    }
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#626365;
    }
  }

  .substance_block2{
    width: 43px;
    height: 53px;

    @include mobile{
      width: 66px;
      height: 78px;
    }

    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#94BEE6;
    }
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#626365;
    }
  }

  .substance_block3{
    width: 47px;
    height: 23px;

    @include mobile{
      width: 71px;
      height: 44px;
    }

    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#94BEE6;
    }
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#626365;
    }
  }

  .substance_block4{
    width: 47px;
    height: 47px;

    @include mobile{
      width: 71px;
      height: 71px;
    }

    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#94BEE6;
    }
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#626365;
    }
  }

  .substance_block5{
    width: 45px;
    height: 53px;

    @include mobile{
      width: 71px;
      height: 77px;
    }

    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#94BEE6;
    }
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#626365;
    }
  }

  .substance_block6{
    width: 54px;
    height: 47px;

    @include mobile{
      width: 81px;
      height: 71px;
    }

    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#94BEE6;
    }
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#626365;
    }
  }

  .substance_footer-text{
    width: 520px;
    display: block;
    margin: 70px auto 0px;

    @include mobile{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .footer-text_medal{
      display: inline-block;
      height: 91px;
      margin-right: 19px;
    }

    .footer-text_block{
      width: 80%;
      display: inline-block;
      vertical-align: top;
      padding-top: 14px;


      p{
        color: #626365;
        font-family: "PF Square Sans Pro";
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 10px;
      }

      h5{
        color: #94bee6;
        font-family: "PF Square Sans Pro";
        font-size: 25px;
        font-weight: 500;
        line-height: 25px;
        text-decoration: underline;
        margin: 0;
        padding: 0;
      }
    }
  }
}

//==================== section-five
.section-five{
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 85px;

  @include mobile{
    padding-top: 53px;
    padding-bottom: 70px;
  }

  @include small-mobile{
    svg{
      display: block !important;
      margin: 0 auto !important;
    }
  }

  .margin_left{
    margin-left: 81px;

    @include mobile{
      margin-left: 0;
    }
  }

  .five_block-text{
    width: 342px;
    margin-top: 23px;

    @include mobile{
      width: 100%;
    }

    @include small-mobile{
      text-align: center;
    }


    h3{
      color: #ffffff;
      font-family: "PF Square Sans Pro";
      font-size: 36px;
      font-weight: 500;
      line-height: 40px;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    p{
      color: #ffffff;
      font-family: "PF Square Sans Pro";
      font-size: 22px;
      font-weight: 400;
      line-height: 25px;
    }
  }

  .five_block-text_h3{
    margin-top: -15px;
  }

  .five_block-svg-one{


    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#FFF200;
    }
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#FFFFFF;
    }
  }

  .five_block-svg-two{
    width: 78px;
    height: 78px;

    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#FFF200;
    }
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#FFFFFF;
    }
  }

  .button-yellow{
    width: 320px;
    height: 60px;
    display: block;
    margin: 60px auto 0px;
    box-shadow: 0 2px 0 #ffba00;
    border-radius: 30px;
    background-color: #fff200;
    color: #41331d;
    font-family: "PF Square Sans Pro";
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;

    @include mobile{
      margin-top: 40px;
    }

    &:hover{
      box-shadow: 0 2px 0 #fff200;
      background-color: #ffba00;
      text-decoration: none;
    }
  }
}


//==================== section-six
.section-six {
  padding-top: 94px;
  padding-bottom: 32px;

  @include mobile{
    padding-top: 74px;
    padding-bottom: 69px;
  }



  h2{
    text-align: center;
    color: #626365;
    font-family: 'PF Square Sans Cond Pro';
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    text-transform: uppercase;

    span{
      display: block;
      color: #94bee6;
      font-weight: 700;
    }
  }

  .six_sub-title{
    font-family: "PF Square Sans Pro";
    font-size: 30px;
    font-weight: 500;
    line-height: 72px;
    color: #626365;
    text-align: center;
  }

  .six_block {
    width: 460px;
    height: 270px;
    border-radius: 5px;
    border: 1px solid #efedf6;
    padding-top: 38px;
    padding-left: 30px;
    margin-bottom: 20px;
    position: relative;

    @include mobile{
      margin: 0 auto 20px;
    }

    svg {
      width: 50px;
      height: 50px;
      display: inline-block;
      vertical-align: top;
      margin-right: 25px;

      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FFF200;
      }
      .st1{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#94BEE6;
      }
    }

    .six_block_text{
      display: inline-block;
      width: 261px;

      h6{
        color: #626365;
        font-family: "PF Square Sans Pro";
        font-size: 48px;
        font-weight: 500;
        line-height: 25px;
        margin-top: 10px;
        margin-bottom: 40px;
        padding: 0;
      }

      p{
        color: #76778a;
        font-family: "PF Square Sans Pro";
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
      }
    }

    .six_block_hover{
      display: none;
      transition: 1s;
    }

    &:hover{
      transition: 1s;
      transform: scaleX(10);
      .six_block_text{
        display: none;
        transition: 1s;
      }

      svg {
        display: none;
      }

    .six_block_hover{
      display: block;
      width: 100%;
      height: 270px;
      background-color: #FFF200;
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      padding-top: 50px;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      transition: 1s;
    }
  }
  }
}

//==================== section-advantages
.section-advantages{
  background: url('../images/fon_block6.jpg') no-repeat;
  background-size: cover;
  padding-top: 98px;
  padding-bottom: 100px;

  @include mobile{
    padding-top: 83px;
  }


  h2{
    font-family: 'PF Square Sans Cond Pro';
    font-size: 50px;
    text-transform: uppercase;
    line-height: 50px;
    color: #626365;
    font-weight: 400;
    text-align: center;
    margin-bottom: 55px;

    span{
      font-weight: 700;
      color: #94bee6;
      display: block;
    }
  }

  .basic_advantages_block{
    @include mobile{
      display: block;
      width: 360px;
      margin: 0 auto 40px;
    }
  }

  .advantages_block{
    color: #626365;
    font-family: "PF Square Sans Pro";
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    display: inline-block;
    width: 207px;
    margin-bottom: 40px;
    vertical-align: top;

    @include mobile{
      margin: 0 auto;
      font-size: 24px;
      line-height: 25px;
      width: 280px;
    }
  }

  .margin-under{
    margin-top: 25px;

    @include mobile{
      margin-top: 0;
    }
  }

  svg{
    display: inline-block;
    margin-right: 20px;
    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#94BEE6;
    }
    .st1{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#626365;
    }
  }
  .advantages_block1{
    width: 51px;
    height: 46px;
  }

  .advantages_block2{
    width: 50px;
    height: 64px;
    margin-top: -10px;
  }

  .advantages_block3{
    width: 47px;
    height: 47px;
    margin-top: 5px;
  }

  .advantages_block4{
    width: 49px;
    height: 62px;
    margin-top: 5px;
  }

  .advantages_block5{
    width: 52px;
    height: 52px;
  }

  .advantages_block6{
    width: 51px;
    height: 50px;
    margin-top: 5px;
  }

  .advantages_block7{
    width: 49px;
    height: 54px;
  }

  .advantages_block8{
    width: 55px;
    height: 48px;
  }

  .advantages_block9{
    width: 52px;
    height: 24px;
    margin-top: 10px;
  }

  .button-yellow{
    width: 250px;
    height: 60px;
    display: block;
    margin: 7px auto 0px;
    box-shadow: 0 2px 0 #ffba00;
    border-radius: 30px;
    background-color: #fff200;
    color: #41331d;
    font-family: "PF Square Sans Pro";
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;

    &:hover{
      box-shadow: 0 2px 0 #fff200;
      background-color: #ffba00;
      text-decoration: none;
    }
  }
}


//==================== section-symptoms
.section-symptoms{
  padding-top: 100px;
  padding-bottom: 89px;

  h2{
    font-family: 'PF Square Sans Cond Pro';
    font-size: 50px;
    color: #626365;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;

    span{
      color: #94bee6;
      font-weight: 700;
    }
  }

  .block-slider-holder{
    margin: 0 auto;

    @include mobile{
      width: 100%;
    }

    .swiper-slide{
      margin-right: 0;
    }
  }
  .slide_block{
    display: block;
    width: 660px;
    margin: 0 auto;

    @include mobile{
      width: 512px;
      margin: 0 auto;
    }

    @include small-mobile{
      width: 100%;
    }

    .slide_text{
      width: 155px;
      display: inline-block;
      justify-content: space-between;

      @include small-mobile{
        display: block;
        margin: 0 auto;
      }


      ul{
        margin: 0;
        padding: 0;

        li{
          color: #626365;
          font-family: "PF Square Sans Pro";
          font-size: 22px;
          font-weight: 400;
          line-height: 25px;
          margin-bottom: 25px;

          @include mobile{
            list-style-type: none;
          }
        }
      }
    }

    .slide_image{
      width: 380px;
      height: 271px;
      display: inline-block;
      justify-content: space-between;
      float: right;
      box-shadow: #fff200 20px 20px 0px 0px;
      background: url('../images/picture_slider.jpg') no-repeat;
      background-size: cover;

      @include mobile{
        width: 304px;
        height: 219px;
        margin-top: 15px;
      }

      @include small-mobile{
        display: block;
        margin: 0 auto !important;
        float: none;
      }
    }
  }

  svg{
    .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#626365;}
    .st1{fill:#FFF200;}
  }

  .blue_link{
    color: #94bee6;
    font-family: "PF Square Sans Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: underline;
    text-align: center;
    width: 224px;
    height: 16px;
    display: block;
    margin: 50px auto 0px;

    &:hover{
      text-decoration: none;
    }

    @include mobile{
      margin: 65px auto 0px;
    }

    @include small-mobile{
      margin-top: 95px;
    }
  }

  .block-next{
    @include mobile{
      right: 38%;
      top: 100%;
    }

    @include small-mobile{
      right: 32%;
      top: 110%;
    }
  }

  .block-prev{
    @include mobile{
      left: 38%;
      top: 100%;
    }

    @include small-mobile{
      left: 31%;
      top: 110%;
    }
  }
}


//==================== section-action
.section-action{
  background-size: cover;
  padding-top: 77px;
  height: 830px;

  @include mobile{
    height: auto;
    padding-top: 77px;
    padding-bottom: 165px;
  }

  @include small-mobile{
    padding-bottom: 100px;
  }

  h2{
    color: #ffffff;
    font-family: 'PF Square Sans Cond Pro';
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;

    span{
      font-weight: 700;
    }
  }

  .sub_title{
    width: 597px;
    height: 69px;
    display: block;
    margin: 20px auto 50px;
    color: #ffffff;
    font-family: 'PF Square Sans Cond Pro';
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;

    @include mobile{
      width: 100%;
    }

    span{
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .block-slider-holder{
    width: 420px;

    @include small-mobile{
      margin: 0 auto 50px;
    }


    .slide_block_img{
      width: 260px;
      margin: 0 auto;
    }
  }


  h3{
    color: #ffffff;
    font-family: 'PF Square Sans Cond Pro';
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  .list-block{
    color: #ffffff;
    font-family: 'PF Square Sans Cond Pro';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: pointer;


    &:hover{
      font-family: 'PF Square Sans Cond Pro';
      margin-left: 0;
      border-radius: 10px;
      font-weight: 600;
      background-color: #fff200;
      color: #000000;
      font-size: 30px;
      line-height: 33px;
      padding: 10px 20px;
      transition: .3s;
    }

    &:not(:hover){
    transition: .3s;
  }
  }
}


//==================== section-effective
.section-effective{
  background: url('../images/effective_fon.jpg') no-repeat;
  background-size: cover;
  padding-top: 76px;
  padding-bottom: 90px;

  @include mobile{
    padding-bottom: 69px;
  }

  .swiper-button-prev,
  .swiper-button-next{
    svg{
      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#626365;
      }
      .st1{
        fill:#FFF200;
      }
    }
  }

  h2{
    width: 640px;
    color: #626365;
    font-family: 'PF Square Sans Cond Pro';
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;

    span{
      font-weight: 700;
      line-height: 40px;
    }

    .blue{
      color: #94bee6;
      font-weight: 700;
      line-height: 40px;
    }
  }

  .sub_h2{
    font-family: "PF Square Sans Pro";
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
  }

  .tab-menu1{
    display: inline-block;
    color: #626365;
    font-family: 'PF Square Sans Cond Pro';
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin: 0 auto;
    justify-content: space-between;

    a{
      display: inline-block;
      vertical-align: top;
      margin-top: 5px;
      color: #626365;
    }

    svg{
      display: inline-block;
      width: 50px;
      height: 50px;

      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FFF200;
      }
      .st1{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#94BEE6;
      }
    }

  }

  .tabs_menu{
    display: flex;
    width: 610px;
    margin: 20px auto 55px;
  }

  #tab2{
    display: none;
  }
  .tab-menu2{
    display: inline-block;
    opacity: 0.5;
    color: #626365;
    font-family: 'PF Square Sans Cond Pro';
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 auto;
    justify-content: space-between;

    a{
      display: inline-block;
      vertical-align: top;
      margin-top: 5px;
      color: #626365;
    }

    svg{
      display: inline-block;
      width: 50px;
      height: 50px;
    }
  }

  .block-slider-holder{

    @include mobile{
      width: 100%;
    }

    .slide_block{
      width: 820px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      padding-left: 20px;

      @include mobile{
        width: 100%;
      }
    }
  }

  .margin-right{
    margin-right: 45px;

    @include mobile{
      margin-right: 40px;
    }
  }

  .slide_block_text{
    display: inline-block;
    width: 372px;

    @include mobile{
      width: 280px;
    }


    h5{
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 25px;
      font-weight: 500;
      text-decoration: underline;
      margin-top: 0;
      margin-bottom: 20px;
      padding: 0;
    }

    ul{
      margin: 0;
      padding: 0;

      li{
        color: #76778a;
        font-family: "PF Square Sans Pro";
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 10px;
        padding: 0;
      }
    }

    .lump-svg{
      width: 47px;
      height: 47px;

      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FFF200;
      }
      .st1{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#626365;
      }
    }

    .calendar-svg{
      width: 41px;
      height: 41px;

      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FFF200;
      }
      .st1{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#626365;
      }
    }
  }

  .block-prev{

    @include mobile{
      top: 110%;
      left: 38%;
    }

    @include small-mobile{
      left: 31%;
    }
  }

  .block-next{

    @include mobile{
      top: 110%;
      right: 38%;
    }

    @include small-mobile{
      right: 31%;
    }
  }

  .button-yellow{
    width: 250px;
    height: 60px;
    display: block;
    margin: 50px auto 0px;
    box-shadow: 0 2px 0 #ffba00;
    border-radius: 30px;
    background-color: #fff200;
    color: #41331d;
    font-family: "PF Square Sans Pro";
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;

    @include mobile{
      margin: 135px auto 0px;
    }

    &:hover{
      box-shadow: 0 2px 0 #fff200;
      background-color: #ffba00;
      text-decoration: none;
    }
  }


}

//==================== section-virus
.section-virus {
  padding-top: 82px;
  padding-bottom: 90px;

  @include mobile{
    padding-bottom: 100px;
  }

  h2{
    font-family: "PF Square Sans Cond Pro";
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: #626365;

    span{
      color: #94bee6;
      font-family: "PF Square Sans Cond Pro";
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
    }
  }

  .sub_h2{
    color: #626365;
    font-family: "PF Square Sans Pro";
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 38px;
  }

  .swiper-slide{

    h5{
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 36px;
      font-weight: 500;
      line-height: 40px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 54px;
      padding: 0;
    }
  }

  .block-slider-holder{
    display: flex;
    justify-content: space-between;

    .prev-place{
      top: 20px;
      left: 200px;

      @include mobile{
        left: 80px;
      }

      @include small-mobile{
        left: 5px;
      }
    }
    .next-place{
      top: 20px;
      right: 200px;

      @include mobile{
        right: 80px;
      }

      @include small-mobile{
        right: 5px;
      }
    }
  }
  .container_block {
    width: 290px;
    height: 275px;
    padding-top: 25px;
    padding-left: 35px;
    border-radius: 5px;
    border: 1px solid #efedf6;
    cursor: pointer;
    display: block;
    margin: 0 auto 20px;


    &:hover{
      -webkit-box-shadow: 0 0 0 3px $accent-color;
      box-shadow: 0 0 0 3px $accent-color;
      transition: .5s;
    }

    &:not(:hover){
      transition: .5s;
    }

    p{
      width: 220px;
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 20px;
      font-weight: 500;
      line-height: 25px;
      margin-bottom: 18px;
    }

    span{
      width: 202px;
      color: #76778a;
      font-family: "PF Square Sans Pro";
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
    }

    svg{
      margin-bottom: 30px;
    }

    .container_block-svg1 {
      width: 55px;
      height: 66px;

      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FFF200;
      }
      .st1{
        fill:#626365;
      }
    }

    .container_block-svg2{
      width: 44px;
      height: 52px;

      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FFF200;
      }
      .st1{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#626365;
      }
    }

    .container_block-svg3{
      width: 46px;
      height: 45px;

      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FFF200;
      }
      .st1{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#626365;
      }
    }

    .container_block-svg4{
      width: 45px;
      height: 44px;

      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FFF200;
      }
      .st1{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#626365;
      }
    }

    .container_block-svg5{
      width: 42px;
      height: 38px;

      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FFF200;
      }
      .st1{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#626365;
      }
    }

    .container_block-svg6{
      width: 46px;
      height: 45px;

      .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#FFF200;
      }
      .st1{
        fill-rule:evenodd;
        clip-rule:evenodd;
        fill:#626365;
      }
    }
  }
  
  .under-size{
    height: 355px;
  }

  .blue_link{
    color: #94bee6;
    font-family: "PF Square Sans Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: underline;
    text-align: center;
    width: 300px;
    height: 16px;
    display: block;
    margin: 50px auto 0px;

    @include mobile{
      font-size: 24px;
    }

    &:hover{
      text-decoration: none;
    }
  }

  svg{
    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#626365;
    }
    .st1{
      fill:#FFF200;
    }
  }
}

//==================== section-results
.section-results{
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 150px;
  height: 574px;

  @include mobile{
    padding-top: 79px;
    padding-bottom: 240px;
    height: auto;
  }

  h2{
    color: #ffffff;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;

    span{
      font-weight: 700;
    }
  }

  svg{
    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#fff;
    }
    .st1{
      fill:#FFF200;
    }
  }


    @include mobile{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

  @include small-mobile{
    display: block;
  }

    .slide_block{
      width: 720px;
      margin: 0 auto;

      @include mobile{
        width: 100%;
      }

      .slide_block_results{
        width: 350px;
        display: inline-block;
        margin: 0 auto;
        color: #ffffff;
        font-size: 22px;
        font-weight: 500;
        line-height: 25px;
        text-align: center;

        @include mobile{
          width: 280px;
        }

        @include small-mobile{
          display: block;
          width: 100%;
          margin: 0 auto;
          text-align: center;
        }

        .results_foto{
          width: 350px;
          height: 220px;
          background-color: #fff;

          @include mobile{
            width: 280px;
            height: 176px;
          }

          @include small-mobile{
            display: block;
            width: 280px;
            margin: 0 auto 15px;
            text-align: center;
          }
        }
      }
    }


  .block-pagination{

    @include mobile{
      bottom: -150px;
    }

  }

  .block-prev{

    @include mobile{
      top: 130%;
      left: 38%;
    }

    @include small-mobile{
      top: 110%;
      left: 31%;
    }
  }

  .block-next{

    @include mobile{
      top: 130%;
      right: 38%;
    }

    @include small-mobile{
      top: 110%;
      right: 31%;
    }
  }
}

//==================== section-question
.section-question{
  padding-top: 99px;
  padding-bottom: 94px;

  @include mobile{
    padding-top: 90px;
  }

  h2{
    color: #626365;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-align: center;

    span{
      color: #94bee6;
      font-weight: 700;
    }
  }

  .question_block{
    width: 848px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 35px;

    @include mobile{
      width: 100%;
    }

    .question-block-text{
      width: 779px;
      display: inline-block;
      vertical-align: top;
      padding-top: 14px;

      @include mobile{
        width: 100%;
      }

      h4{
        color: #626365;
        margin-top: 0;
        margin-bottom: 14px;
        padding: 0;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;

        @include mobile{
          font-weight: 600;
        }
      }

      p{
        color: #626365;
        font-family: "PF Square Sans Pro";
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 13px;
      }

      .blue_link{
        color: #94bee6;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        text-decoration: underline;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .question-svg{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 15px;

    .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FFF200;}
    .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#94BEE6;}
  }

  .button-yellow{
    width: 220px;
    height: 60px;
    display: block;
    margin: 50px auto 0px;
    box-shadow: 0 2px 0 #ffba00;
    border-radius: 30px;
    background-color: #fff200;
    color: #41331d;
    font-family: "PF Square Sans Pro";
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;

    &:hover{
      box-shadow: 0 2px 0 #fff200;
      background-color: #ffba00;
      text-decoration: none;
    }
  }
}

//==================== section-opinion
.section-opinion{
  background: url('../images/option_fon.jpg') no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 135px;

  @include mobile{
    padding-bottom: 270px;
  }

  h2{
    color: #626365;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;

    span{
      font-weight: 700;
      color: #94bee6;
    }
  }


  .block-slider-holder{

    .slide_block{
      width: 607px;
      display: block;
      margin: 0 auto;
      position: relative;

      @include mobile{
        width: 100%;
      }

      .quotes{
        position: absolute;
        color: #626365;
        font-family: "PF Square Sans Pro";
        font-size: 100px;
        font-weight: 700;
        line-height: 25px;
        top: 30px;
        left: -71px;

        @include mobile{
          display: none;
        }
      }

      .text_italic{
        color: #626365;
        font-family: "PF Square Sans Pro";
        font-size: 20px;
        font-style: italic;
        line-height: 25px;
        margin-bottom: 15px;
      }

      .text_bold{
        color: #626365;
        font-family: "PF Square Sans Pro";
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 70px;
      }
    }

    .blue-link{
      display: inline-block;
      width: 190px;
      color: #94bee6;
      font-family: "PF Square Sans Pro";
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      text-decoration: underline;
      vertical-align: top;
      margin-left: 163px;

      @include mobile{
        display: none;
      }

      &:hover{
        text-decoration: none;
      }
    }

    .blue-link-mobile{
      display: none;
      width: 190px;
      color: #94bee6;
      font-family: "PF Square Sans Pro";
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      text-decoration: underline;
      vertical-align: top;
      margin-left: 163px;

      @include mobile{
        margin-right: 0px;
        display: block;
        float: right;
        font-size: 24px;
        margin-top: 14px;
        width: 254px;
      }

      &:hover{
        text-decoration: none;
      }
    }

    .text-last{
      width: 376px;
      display: inline-block;
      text-align: right;
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      margin-left: 135px;

      @include mobile{
        margin-right: 0;
        display: block;
        float: right;
      }

      span{
        font-weight: 500;
      }
    }
  }

  svg{
    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#626365;
    }
    .st1{
      fill:#FFF200;
    }
  }

  .swiper-button-prev,
  .swiper-button-next{
    margin-top: -130px;
  }

  .swiper-pagination-bullet{
    width: 9px;
    height: 9px;
    background-color: #626365;

    &.swiper-pagination-bullet-active{
      width: 12px;
      height: 12px;
      background-color: #94bee6;
    }
  }

  .block-next{
    @include mobile{
      right: 38%;
      top: 137%;
    }

    @include small-mobile{
      top: 127%;
      right: 31%;
    }
  }

  .block-prev{
    @include mobile{
      left: 38%;
      top: 137%;
    }

    @include small-mobile{
      top: 127%;
      left: 31%;
    }
  }

  .block-pagination{

    @include mobile{
      bottom: -170px;
    }
  }

}


//==================== section-posts
.section-posts{
  padding-top: 97px;
  padding-bottom: 78px;

  .padding-left{
    padding-left: 80px;

    @include mobile{
      padding-left: 1px;
    }
  }

  h2{
    color: #626365;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;

    span{
      color: #94bee6;
      font-weight: 700;
    }
  }


  .posts_foto{
    width: 365px;
    height: 208px;
    background-color: #e1e1e1;
    margin-bottom: 40px;

    @include mobile{
      width: 280px;
      display: block;
      margin-bottom: 40px;
    }

    @include small-mobile{
      width: 280px;
      margin: 0 auto 40px;
    }
  }

  .posts_text{
    width: 325px;
    margin-left: 20px;

    @include mobile{
      width: 280px;
      margin-left: 0;
    }

    @include small-mobile{
      width: 280px;
      display: block;
      margin: 0 auto;
    }

    h6{
      font-size: 22px;
      font-weight: 500;
      line-height: 25px;
      margin-top: 0;
      margin-bottom: 15px;
    }

    p{
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 18px;
      font-weight: 400;
    }

    .blue_link{
      font-size: 18px;
      color: #94bee6;
      font-weight: 400;
      line-height: 25px;
      text-decoration: underline;
      font-family: "PF Square Sans Pro";

      @include small-mobile{
        display: block;
        width: 100%;
        margin-bottom: 40px;
      }

      &:hover{
        text-decoration: none;
      }
    }
  }

  .button-yellow{
    width: 220px;
    height: 60px;
    display: block;
    margin: 65px auto 0px;
    box-shadow: 0 2px 0 #ffba00;
    border-radius: 30px;
    background-color: #fff200;
    color: #41331d;
    font-family: "PF Square Sans Pro";
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;

    @include small-mobile{
      margin-top: 45px;
    }

    &:hover{
      box-shadow: 0 2px 0 #fff200;
      background-color: #ffba00;
      text-decoration: none;
    }
  }

}


//==================== section-ruler
.section-ruler{
  background-size: cover;
  padding-top: 74px;
  padding-bottom: 110px;

  @include mobile{
    padding-bottom: 233px;
  }

  svg{
    .st0{
      fill-rule:evenodd;
      clip-rule:evenodd;
      fill:#fff;
    }
    .st1{
      fill:#FFF200;
    }
  }

  h2{
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;

    span{
      font-weight: 700;
    }
  }

  .block-slider-holder{
    display: block;

    @include mobile{
      display: none;
    }
  }
  .slide_block{
    width: 700px;
    display: block;
    margin: 0 auto;

    @include mobile{
      width: 100%;
    }

    .block_foto{
      width: 220px;
      height: 171px;
      background-color: #fff;

      @include mobile{
        width: 280px;
        height: 220px;
        margin: 0 auto;
      }
    }

    p{
      text-align: center;
      color: #ffffff;
      font-family: "PF Square Sans Pro";
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      margin-top: 20px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next{
    margin-top: -50px;
  }

  .mobile-slide{
    display: none;

    @include mobile{
      display: block;

      .block_foto{
          width: 280px;
      }
    }
  }

  .block-next{
    @include mobile{
      right: 38%;
      top: 130%;
    }

    @include small-mobile{
      right: 32%;
      top: 110%;
    }
  }

  .block-prev{
    @include mobile{
      left: 38%;
      top: 130%;
    }

    @include small-mobile{
      left: 32%;
      top: 110%;
    }
  }

  .block-pagination{

    @include mobile{
      bottom: -135px;
    }
  }
}

//==================== footer
.footer{
  padding-top: 27px;
  padding-bottom: 10px;

  @include mobile{
    display: none;
  }

  .footer_row_block{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;


    .logo_footer{
      display: inline-block;
      width: 320px;
      height: 62px;
    }

    .smm_block{
      display: inline-block;
      width: 380px;
      height: 27px;
      padding-left: 75px;
      position: absolute;
      left: 35%;

      .smm-text{
        color: #626365;
        font-family: "PF Square Sans Pro";
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        vertical-align: top;
        margin-right: 20px;
        display: inline-block;
        margin-top: 19px;
      }
      .smm{
        margin-top: 19px;
        display: inline-block;
        svg {
          display: inline-block;
          width: 26px;
          height: 26px;
        }
        .google{
          .st0{
            fill-rule:evenodd;
            clip-rule:evenodd;
            fill:#D6492F;
          }
        }
        .insta{
          .st0{
            fill:#3B5998;
          }
        }
        .vk{
          .st0{
            fill:#4C75A3;
          }
        }
      }
    }
    .contacts{
      text-align: right;
      width: 227px;
      display: inline-block;
      float: right;

      span{
        width: 182px;
        height: 10px;
        color: #626365;
        font-family: "PF Square Sans Pro";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }

      p{
        color: #626365;
        font-family: "PF Square Sans Pro";
        font-size: 22px;
        font-weight: 500;
        line-height: 18px;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        width: 220px;
        position: relative;

        .footer_phone{
          position: absolute;
          top: -7px;
          left: 0;
          display: inline-block;
          margin-right: 19px;
        }
      }

      .blue_link{
        color: #94bee6;
        font-size: 16px;
        text-decoration: underline;
        font-family: "PF Square Sans Pro";

        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .contacts_two{
    text-align: right;
    margin-top: 22px;

    p{
      font-size: 22px;
      font-weight: 500;
      line-height: 18px;
      font-family: "PF Square Sans Pro";
      color: #626365;
    }

    span{
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 16px;
      font-weight: 400;
    }

    .mail{
      font-weight: 400;

      .blue_link{
        color: #94bee6;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-decoration: underline;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .copyright{
    margin-top: 40px;

    .blue_link{
      color: #94bee6;
      font-family: "PF Square Sans Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }

    p{
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      margin-top: 10px;
    }
  }
}

//==================== footer mobile
.footer-mobile{
  display: none;

  @include mobile{
    display: block;
    padding-top: 33px;
    padding-bottom: 51px;
  }

  .logo-mobile{
    display: block;
    width: 208px;
    height: 40px;
    margin: 0 auto;
  }

  .smm_block{
    display: inline-block;
    max-width: 380px;
    height: 27px;

    @include small-mobile{
      float: right;
      text-align: right;
    }

    .smm-text{
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      vertical-align: top;
      margin-right: 20px;
      display: inline-block;
      margin-top: 10px;

      @include small-mobile{
        margin-top: -5px;
      }
    }
    .smm{
      margin-top: 10px;
      display: inline-block;

      @include small-mobile{
        margin-top: 0;
      }
      svg {
        display: inline-block;
        width: 26px;
        height: 26px;
      }
      .google{
        .st0{
          fill-rule:evenodd;
          clip-rule:evenodd;
          fill:#D6492F;
        }
      }
      .insta{
        .st0{
          fill:#3B5998;
        }
      }
      .vk{
        .st0{
          fill:#4C75A3;
        }
      }
    }
  }

  .copyright{
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: center;

    .blue_link{
      color: #94bee6;
      font-family: "PF Square Sans Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }

    p{
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      margin-top: 10px;
    }
  }

  .contacts{
    width: 233px;
    display: inline-block;
    text-align: right;

    span{
      width: 182px;
      height: 10px;
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      padding-left: 50px;
    }

    p{
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 22px;
      font-weight: 500;
      line-height: 22px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      max-width: 230px;
      position: relative;
      padding-left: 50px;

      @include small-mobile{
        padding-left: 35px;
        font-size: 19px;
      }

      .footer_phone{
        position: absolute;
        top: -7px;
        left: 0;
        display: inline-block;
        margin-right: 19px;
      }
    }

    .blue_link{
      color: #94bee6;
      font-size: 16px;
      text-decoration: underline;
      font-family: "PF Square Sans Pro";

      @include mobile{
        font-weight: 500;
      }

      &:hover{
        text-decoration: none;
      }
    }
  }

  .contacts_two{
    width: 200px;
    display: block;
    margin: 0 auto;
    p{
      font-size: 22px;
      font-weight: 500;
      line-height: 18px;
      font-family: "PF Square Sans Pro";
      color: #626365;
    }

    span{
      color: #626365;
      font-family: "PF Square Sans Pro";
      font-size: 16px;
      font-weight: 400;
    }

    .mail{
      font-weight: 400;

      .blue_link{
        color: #94bee6;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-decoration: underline;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}